.vscode/

kubernetes/cluster.yaml

docker/Dockerfile
docker/docker-compose.yaml
docker/traefik/Dockerfile
docker/traefik/configuration/certs.toml
docker/traefik/configuration/certs/

compose-backend.yaml
compose-server.yaml
compose-widgets.yaml
